@model RuleSetModel
@using CryptoRobert.Admin.Models;




@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rule Definitions for RuleSet @Url.RequestContext.RouteData.Values["id"]</h1>


<div class="form-group">
	@Html.LabelFor(r => r.Id, htmlAttributes: new { @class = "control-label col-md-2" })
	@Html.DisplayFor(r => r.Id, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(r => r.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
	@Html.DisplayFor(r => r.IsActive, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(r => r.PairToBuy, htmlAttributes: new { @class = "control-label col-md-2" })
	@Html.DisplayFor(r => r.PairToBuy, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(r => r.Score, htmlAttributes: new { @class = "control-label col-md-2" })
	@Html.DisplayFor(r => r.Score, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(r => r.Threshold, htmlAttributes: new { @class = "control-label col-md-2" })
	@Html.DisplayFor(r => r.Threshold, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(r => r.LastModified, htmlAttributes: new { @class = "control-label col-md-2" })
	@Html.DisplayFor(r => r.LastModified, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(r => r.Id, htmlAttributes: new { @class = "control-label col-md-2" })
	@Html.DisplayFor(r => r.Id, new { @class = "form-control" })
</div>

<div>
	<h3>Rules Assigned</h3>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Id</th>
				<th>RuleType</th>
				<th>Symbol</th>
				<th>Interval</th>
				<th>Retention</th>
				<th>Operator</th>
				<th>Threshold</th>
				<th>Current State</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var rule in Model.RulesAssigned)
			{
				<tr>
					<td><button class="button btn-danger">Remove</button></td>
					<td>@rule.RuleDef.Id</td>
					<td>@rule.RuleDef.RuleType</td>
					<td>@rule.RuleDef.Symbol</td>
					<td>@rule.RuleDef.Interval</td>
					<td>@rule.RuleDef.Retention</td>
					<td>@rule.RuleDef.RuleType</td>
					<td>@rule.RuleDef.Threshold</td>
					<td>@rule.RuleDef.State</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div>
	@Html.ActionLink("Add Rule", "New")
</div>



