@model RuleDefinitionsModel
@using CryptoRobert.Admin.Models;
@using CryptoRobert.RuleEngine.Entities.MetaData;


@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rule Definitions</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>RuleType</th>
			<th>Symbol</th>
			<th>Interval</th>
			<th>Retention</th>
			<th>Operator</th>
			<th>Threshold</th>
			@*<th>Priority</th>*@
			<th>Current State</th>
			<th>Rule Set</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.RuleList)
		{
			<tr>
				<td>@item.RuleDef.Id</td>
				<td>@item.RuleDef.RuleType</td>
				<td>@item.RuleDef.Symbol</td>
				<td>@item.RuleDef.Interval</td>
				<td>@item.RuleDef.Retention</td>
				<td>@Enum.GetName(typeof(CryptoRobert.Admin.Models.Operator), item.RuleDef.Operator)</td>
				<td>@item.RuleDef.Threshold</td>
				@*<td>@item.Priority</td>*@
				<td>@item.RuleDef.State</td>
				<td>
					@if (item.RuleDef.RuleSetId > 0)
					{
							@Html.ActionLink(item.RuleDef.RuleSetId.ToString(), "Details", "RuleSets", new { id = item.RuleDef.RuleSetId }, null);
					}
					else
					{
					<i>Unassigned</i>
					}
				</td>
				@*<td>
						@for (var i = 1; i <= item.SetsAssigned.Count(); i++)
						{
											//linkText,	actionName, controllerName, routeValues, htmlAttributes
							@Html.ActionLink(i.ToString(), "Details", "RuleSets", new { id = i }, null);
							if(i < item.SetsAssigned.Count())
							{
								<a>,</a>
							}
						}
					</td>*@
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.RuleDef.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.RuleDef.Id })
				</td>
			</tr>
		}
	</tbody>
	<div>
		@Html.ActionLink("New Rule", "New")
	</div>
</table>

