@model CryptoRobert.Admin.Models.RuleDefinitionModel

@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

@using (Html.BeginForm("Create", "RuleDefinition"))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4></h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)
		
			<div>
				<div class="form-group">
					@Html.LabelFor(model => model.RuleType, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.RuleType, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.RuleType, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Symbol, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Symbol, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Symbol, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Interval, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Interval, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Interval, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Retention, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@*@Html.EditorFor(model => model.Retention, new { htmlAttributes = new { @class = "form-control" } })*@
						@Html.TextBoxFor(model => model.Retention, new { @class = "form-control", @type = "number", @step = "1", @min = "0", @max = "20" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Threshold, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@*@Html.EditorFor(model => model.Threshold, new { htmlAttributes = new { @class = "form-control" } })*@
						@Html.TextBoxFor(model => model.Threshold, new { @class = "form-control", @type = "number", @step = "0.1", @min = "0", @max = "1" })
					</div>
				</div>





				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Save" class="btn btn-default" />
					</div>
				</div>
			</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
